# APK файлы
*.apk

# Android build
/build
/.gradle
/captures
.externalNativeBuild

# Android Studio
.idea
*.iml

# C++ build
app/.cxx

# local config
local.properties

#vs code
.vscode

/test/*
!/test/benchmark_readme.py
!/test/benchmark_requirements.txt
!/test/benchmark_results/
/test/benchmark_results/*
!/test/benchmark_results/*.json
!/test/benchmark_results/*.jsonl
build
